body
{
 margin: 0;
 padding:0 ;
 background-image: url(bg1.jpg);
 background-size: cover;
 background-position: center;
}
.registrationform
{
 width: 300px ;
 padding: 20px;
 margin: 0px auto 0; 
 background-image: url(bg1.jpg);
 background-size: cover;
 background-position: center;
text-align: center;
}